/* html{
    height: 100vh;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0 50px;
}
.main{
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.senja-embed{
    margin-top: 50px;
}
.content {
    flex: 1;
    flex-grow: 2;
    
}
.image-placeholder {
    flex: 1;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 100%;
    border-radius: 50%;
}
h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.subtitle{
    font-size: 1.5em;
    margin-bottom: 20px;
}
p {
    font-size: 1.33em;
    margin-bottom: 20px;
}
.editable:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    cursor: text;
}
input[type="email"] {
    padding: 10px;
    font-size: 1em;
    width: 60%;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff4081;
    color: white;
    border: none;
    cursor: pointer;
}
.edit-icon::after {
    content: "✎";
    margin-left: 10px;
    font-size: 0.8em;
    opacity: 0.7;
}


    /* New styles for color picker */
    #colorControls {
    position: static;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    }
    #colorControls label {
        margin-bottom: 0;
        margin-right: 5px;
    }
    #colorControls input[type="color"] {
        width: 40px;
        height: 40px;
    }

@media (max-width:800px) {
    
    body{
        margin: 10px;
    }
    h1{
        font-size: 2.5rem;
    }
    .container{
        flex-direction: column-reverse;
        height: auto;
    }
    .content{
        /* margin: 0 20%; */
        text-align: center;
    }
    .image-placeholder{
        width: 40%;
    }

}

@media (max-width:450px) {
    
    .container{
        flex-direction: column-reverse;
    }
    .image-placeholder{
        width: 85%;
    }
}